* {
    transition: 0.2s ease;
}

.home {
    min-height: 100vh;
    width: auto;
    padding-top: 15vh;
    background-color: rgb(245 196 147);
    background-image: radial-gradient(#00000026 1.5px, rgb(245 196 147) 2.5px);
    background-size: 29px 30px;
    padding-top: 15vh;

    .hero {
        flex: 1;
        display: flex;
        min-height: 85vh;
        position: relative;

        @media (max-width:900px) {
            display: none;
        }

        .name {
            color: rgba(255, 255, 255, 0.866);
            font-family: "custom-font4";
            font-size: 12rem;
            width: 100%;
            font-weight: bold;
            position: absolute;
            padding-left: "auto";
            padding-right: "auto";
            bottom: 2.7%;
            text-align: center;
            text-shadow: 2px 2px 1px rgba(255, 166, 0, 0.523);
            letter-spacing: 0.3rem;
            rotate: -0.6deg;
            z-index: 3;

            @media(max-width:1300px) {
                font-size: 8rem;
            }

            @media(max-width:1100px) {
                font-size: 7.2rem;
            }

            @media(max-width:910px) {
                bottom: 10%;
                font-size: 6rem;
            }
        }

        .left {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            div {
                flex: 1;
                display: flex;
                flex-direction: column;
                position: relative;
                justify-content: center;
                align-items: center;

                img {
                    position: absolute;

                }

                p {
                    color: black;
                    font-family: "custom-font2";
                    font-size: 3rem;
                    font-weight: 500;

                    @media(max-width:1300px) {
                        font-size: 2.5rem;
                    }

                    @media(max-width:1100px) {
                        font-size: 1.9rem;
                    }

                    @media(max-width:900px) {
                        font-size: 1.7rem;
                    }

                    @media(max-width:750px) {
                        font-size: 1.6rem;
                    }
                }
            }
        }

        .mid {
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 80%;
                height: 90%;

                .offer {
                    color: rgb(238, 119, 74);
                    font-family: "custom-font";
                    font-size: 5rem;
                    font-weight: bold;
                    position: absolute;
                    padding-left: "auto";
                    padding-right: "auto";
                    top: 15%;
                    left: -12%;
                    rotate: -35deg;
                    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.579);
                    z-index: 3;

                    @media (max-width:1300px) {
                        font-size: 4rem;
                    }

                    @media (max-width:1100px) {
                        left: -22%;
                    }

                    @media (max-width:920px) {
                        font-size: 3.7rem;
                        left: -24%;
                    }

                }

                .cost {
                    color: rgb(238, 119, 74);
                    font-family: "custom-font";
                    font-size: 5rem;
                    font-weight: bold;
                    position: absolute;
                    top: 15%;
                    right: -5%;
                    rotate: 35deg;
                    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.579);
                    z-index: 3;

                    @media (max-width:1300px) {
                        font-size: 4rem;
                    }

                    @media (max-width:1100px) {
                        right: -15%;
                    }

                    @media (max-width:920px) {
                        font-size: 3.7rem;
                        right: -16%;
                    }
                }

                .bg {
                    position: absolute;
                    bottom: 0;
                    width: 90%;
                    height: 90%;
                    object-fit: cover;
                    z-index: 0;

                    @media(max-width:1100px) {
                        height: 92%;
                        width: 92%;
                    }
                }
            }

            .canBg {
                position: absolute;
                top: 6%;
                width: 60%;
                height: 68%;
                object-fit: contain;
                z-index: 2;
                filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.82));

                @media(max-width:1200px) {
                    height: 54%;
                    top: 11%;
                }

                @media(max-width:1100px) {
                    height: 56%;
                    top: 11%;
                }
            }
        }

        .right {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            div {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                padding-left: 10;
                padding-right: 10;

                img {
                    position: absolute;
                }

                div {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;

                    p {
                        color: black;
                        font-family: "custom-font2";
                        font-size: 2.6rem;

                        @media(max-width:1300px) {
                            font-size: 2.1rem;
                        }

                        @media(max-width:1100px) {
                            font-size: 1.8rem;
                        }

                        @media(max-width:900px) {
                            font-size: 1.6rem;
                        }

                        @media(max-width:900px) {
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }

    }


}

.smallCan {
    position: absolute;
    top: 15%;
    height: 150px;
    width: 150px;
    filter: drop-shadow(2.3px 2.3px 2px rgba(0, 0, 0, 0.82));

    @media(max-width:1100px) {
        height: 140px;
        width: 140px;
    }
}

.responsiveHero {
    display: none;
    min-height: 85vh;

    @media (max-width:900px) {
        display: flex;
        flex-direction: column;
    }

    >div:nth-child(1) {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
    }

    .bg {
        height: 30rem;
        width: 30rem;
        object-fit: contain;

        @media(max-width:470px) {
            height: 25rem;
            width: 25rem;
        }

        @media(max-width:401px) {
            height: 19.73rem;
            width: 19.73rem;
        }
    }

    .canBg {
        height: 18rem;
        width: 18rem;
        position: absolute;
        top: 9%;
        left: 50%;
        filter: drop-shadow(2px 2px 2.5px rgba(0, 0, 0, 0.651));
        transform: translateX(-50%);
        object-fit: contain;

        @media(max-width:470px) {
            height: 15rem;
            width: 15rem;
            top: 14%;
        }

        @media(max-width:401px) {
            height: 12.5rem;
            width: 12.5rem;
            top: 18%;
        }
    }

    .name {
        color: rgba(255, 255, 255, 0.866);
        position: absolute;
        bottom: clamp(7.4rem, 70%, 7.8rem);
        font-family: "custom-font4";
        font-size: clamp(3.5rem, 11vw, 8rem);
        width: 100%;
        text-align: center;
        font-weight: bold;
        white-space: pre;
        text-shadow: 2px 2px 1px rgba(255, 166, 0, 0.523);
        letter-spacing: 0.2rem;
        rotate: -0.7deg;
        z-index: 3;
    }

    .offer {
        color: rgb(238, 119, 74);
        font-family: "custom-font";
        font-size: 4.5rem;
        font-weight: bold;
        position: absolute;
        top: 23%;
        left: 3%;
        rotate: -38deg;
        text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.579);
        z-index: 3;

        @media (max-width:760px) {
            font-size: 3.8rem;
            rotate: -40deg;
        }

        @media (max-width:660px) {
            font-size: 3.2rem;
            left: 1%;
        }

        @media (max-width:580px) {
            font-size: 2.8rem;
            left: 3%;
            top: 4%;
            rotate: -10deg;
        }

        @media (max-width:485px) {
            font-size: 3rem;
        }
    }

    .cost {
        color: rgb(238, 119, 74);
        font-family: "custom-font";
        font-size: 4.5rem;
        font-weight: bold;
        position: absolute;
        top: 23%;
        right: 5%;
        rotate: 35deg;
        text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.579);
        z-index: 3;

        @media (max-width:760px) {
            font-size: 3.8rem;
        }

        @media (max-width:660px) {
            font-size: 3.2rem;
        }

        @media (max-width:580px) {
            font-size: 2.8rem;
            right: 2.9%;
            top: 18%;
            rotate: 15deg;
        }

        @media (max-width:485px) {
            font-size: 2.2rem;
            top: 25%;
        }

        @media (max-width:375px) {
            font-size: 1.8rem;
            right: 1.4%;
            top: 25%;
        }
    }

}